*{
    font-family: 'Roboto', sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
    background: #E5E5E5;
}

/*classes utilitarias*/
.color-text{
    color:#434343;
}

.color-title{
    color:#434343;
    font-weight: 700;
}

.sub-menu-mobile{
    position: absolute;
    top: 30px;
    left: -15px;
    z-index: -1;
    background: #FFFFFF;
    box-shadow: 0px 3px 6px -4px rgba(0, 0, 0, 0.12), 0px 6px 16px rgba(0, 0, 0, 0.08), 0px 9px 28px 8px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 30px;
    width: 250%;
    max-width: 259px;
    opacity: 0;
    transition: 0.2s ease-in-out;
}


.reference:hover > .sub-menu-mobile{
    z-index: 9999 !important;
    opacity: 1 !important;
}


/*fim das classes utilitarias*/

/*estilos para o menu-mobile*/
.menu-mobile{
    position:absolute;
    top:0;
    left:0;
    background-color:white;
    border-radius:0 10px 10px 0;
    height:100%;
    width:70%;
    z-index: 99999999;
    transform: translateX(-200%);
    transition: 0.1s ease-in-out;
    overflow-y: scroll;
    padding: 30px;
}

.menu-mobile .btn-wrapper a{
    text-decoration:none;
    color:white;
    background: #13BEBA;
    border-radius: 5px;
    padding: 5px 20px;
    transition: 0.1 ease-in-out;
}

.menu-mobile .btn-wrapper a:hover{
    filter: brightness(90%);
}

.bg{
    width: 100vw;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99999;
    display:none;
}
.menu-mobile .wrapper a{
    color:#434343;
    text-decoration: none;
    font-size: 14px;
    margin: 10px 5px;
}

.menu-mobile .wrapper .sub-menu{
    box-shadow: none !important;
    left:0 !important;
    width: 100% !important;
}
.menu-mobile .wrapper .sub-menu > .line{
   margin: 5px 0 !important;
}


.menu-mobile .wrapper:hover > .sub-menu{
    opacity: 1;
    z-index: 999999;
    top:30px;
    width: 152%;
    padding: 10px;
    left: -33px;
}


.menu-mobile img{
    max-width:150px;
}

.menu-mobile p{
    font-size: 12px;
}

.menu-active{
    transform: translateX(0) !important;
}

.menu-mobile .wrapper-input{
    position: relative;
    margin:20px 0;
}

.menu-mobile .wrapper-input input[type="search"]{
    padding:8px 20px;
    font-size: 12px;
    background: #FAFAFA;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 6px;
}

.menu-mobile .wrapper-input > img{
    position: absolute;
    top: 13px;
    left: 5px;  
}
/*fim dos estilos para o menu-mobile*/


/*estilos para o submenu de usuário*/
.user{
    position: relative;
    }
    
    .user:hover > div.sub-menu{
        z-index: 999999;
        opacity:1;
    }
    
    div.sub-menu{
        position: absolute;
        top: 25px;
        right: 0;
        z-index: -1;
        background: #FFFFFF;
        box-shadow: 0px 3px 6px -4px rgba(0, 0, 0, 0.12), 0px 6px 16px rgba(0, 0, 0, 0.08), 0px 9px 28px 8px rgba(0, 0, 0, 0.05);
        border-radius: 10px;
        padding: 30px;
        width: 250%;
        opacity: 0;
        transition: 0.2s ease-in-out;
    }
    
    .sub-menu a{
        color:#434343;
        text-decoration: none;
        font-size: 14px;
        margin: 10px 5px;
    }
    
    .line{
        width: 100%;
        height:1px;
        background-color:#7D7D7D;
        margin-top: 10px;
    }
    
/*estilo de submenu da nav principal*/
.reference{
    position: relative;
}

div.sub-menu-nav{
    background: #FFFFFF;
    box-shadow: 0px 3px 6px -4px rgba(0, 0, 0, 0.12), 0px 6px 16px rgba(0, 0, 0, 0.08), 0px 9px 28px 8px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    position:absolute;
    top:30px;
    z-index:-1;
    padding: 30px;
    width: 255%;
    opacity: 0;
    transition: 0.2s ease-in-out;
}

.reference:hover > div.sub-menu-nav{
    opacity:1 !important;
    z-index: 99999 !important;
}

div.sub-menu-nav a{
    text-decoration: none;
    color:#434343;
    padding: 10px 0;
}

.line-menu{
    width: 100%;
    height:1px;
    background-color:#D9D9D9;
    margin: 10px 0;
}


/*fim dos estilos de submenu da nav principal*/

.swiper-container{
    overflow-x: hidden;
}

.hamburger-wrapper{
    display: none;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after{
    background-color:#13C2C2 !important;
}

/*Estilos para o nav do site*/
nav{
    padding: 12px 0;
    background-color: white;
}

nav .wrapper-input{
    position: relative;
}
nav .wrapper-input > img{
    position: absolute;
    top:8px;
    left:8px;
}

nav .wrapper-input input[type="search"]{
    background: #FAFAFA;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 6px;
    max-width: 186px;
    color: #BFBFBF;
    font-size:13px;
    padding: 5px 25px;
}
nav .wrapper-input input[type="search"]:focus{
    outline: none;
}

nav .logo > img{
    max-width: 90px;
    height: 50px;
    object-fit: contain;
}

nav ul{
    padding-top: 10px;
}
nav ul li{
    list-style-type: none;
    margin: 0 5px;
}
nav ul li a{
    text-decoration: none;
    font-size: 12px;
    font-weight: 400;
    margin-right:5px;
    color:black;
}

nav ul li a:hover{
    color:black;
}

nav .ajuda a{
    text-decoration: none;
    color:#737373;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    margin-right:10px;
}

nav .ajuda span{
    color:#737373;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    margin-left:10px;
    cursor: pointer;
}

/*estilos para o submenu de usuário*/
.user{
    position: relative;
    }
    
    .user:hover > div.sub-menu{
        z-index: 999999;
        opacity:1;
    }
    
    div.sub-menu{
        position: absolute;
        top: 25px;
        right: 0;
        z-index: -1;
        background: #FFFFFF;
        box-shadow: 0px 3px 6px -4px rgba(0, 0, 0, 0.12), 0px 6px 16px rgba(0, 0, 0, 0.08), 0px 9px 28px 8px rgba(0, 0, 0, 0.05);
        border-radius: 10px;
        padding: 30px;
        width: 250%;
        opacity: 0;
        transition: 0.2s ease-in-out;
    }
    
    .sub-menu a{
        color:#434343;
        text-decoration: none;
        font-size: 14px;
        margin: 10px 5px;
    }
    
    .line{
        width: 100%;
        height:1px;
        background-color:#D9D9D9;
        margin: 10px 0;
    }

/*estilo para a nav*/


/*estios para o header do site*/
header{
    background:linear-gradient(85.72deg, #13BEBA 25.42%, #02DBB6 100%);
    background-size: cover;
    background-position:center;
    height:50vh;
    width: 100%;
}

.side-form-up{
    position: relative;
    top:-300px;
    z-index: 999;
}

.side-form h1{
    color: #4B4B4B;
    font-weight: 500;
    font-size: 30px;
    text-align: center;
}

.side-form{
    background: #FFFFFF;
    box-shadow: 0px 3px 6px -4px rgba(0, 0, 0, 0.12), 0px 6px 16px rgba(0, 0, 0, 0.08), 0px 9px 28px 8px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    max-width:440px;
    width: 100%;
    padding: 50px 30px;
    position: sticky;
    right: 0;
    top: 30px;
}


form label{
    color: rgba(0, 0, 0, 0.85);
}

form input[type=text]{
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 8px 12px;
    max-width:380px;
    width: 100%;
    display:block;
    color:#8C8C8C;
}

form input[type=text]:focus{
    outline: #D9D9D9;
}

.form-check-input:checked{
    background-color: #722ED1 !important;
    border-color: #722ED1 !important;
}

input[type=submit]{
    padding: 5px;
    max-width:230px;
    width: 100%;
    color:white;
    font-size: 14px;
    background: #13BEBA;
    border-radius: 5px;
    border: 0;
    margin: 20px 0;
}

.side-form .wrapper a{
    text-decoration: none;
    color:#7D7D7D;
    font-size: 14px;
    margin-left: 10px;
}
.side-form .wrapper span{
    color:#7D7D7D;
    font-size: 14px;
    margin-left: 10px;
}


/*fim dos estios para o header do site*/

/*Estilo para sessão Why*/

section.diferenciais{
    background: #FFFFFF;
    box-shadow: 0px 3px 6px -4px rgba(0, 0, 0, 0.12), 0px 6px 16px rgba(0, 0, 0, 0.08), 0px 9px 28px 8px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    max-width:754px;
    width: 100%;
    padding: 20px;
    margin-top: 18px;
}
/*Fim dos estilos para sessão Why*/

/*Estilos para a sessão de depoimentos*/

section.depoimentos{
    background-color:white;
    margin-top:18px;
    padding: 18px 0 55px 0;
}

.depoimentos__text{
    margin-left: 30px;
}

.depoimentos__img img{
    max-width:128px;
}

.depoimentos__users img{
    margin-top: 64px;
    margin-right: 30px;
    object-fit: contain;
    cursor: pointer;
    max-width: 64px;
}

.circle{
    border: 5px solid #722ED1;
    border-radius: 50%;
    max-width:75px !important;
    padding: 3px;
}

.quotes{
    margin-bottom: 15px;
}

.quotes-text{
    max-width: 290px;
}

/*estilos para o slide*/
.slide{
    overflow: hidden;
    position: relative;
    height: 200px;
}

.slide-single{
    transform: translateX(300%);
    transition: 0.2s ease-in-out;
    position:absolute;
   
}

.active-slide{
    transform: translateX(0%) !important;
}

/*Fim dos estilos para a sessão de depoimentos*/

/*Estilos para a sessão de opcoes*/
.opcoes__box{
    padding: 30px 30px 70px 30px;
    background: #FFFFFF;
    box-shadow: 0px 3px 6px -4px rgba(0, 0, 0, 0.12), 0px 6px 16px rgba(0, 0, 0, 0.08), 0px 9px 28px 8px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}

.wrapper__icons{
    width:44%;
}

section.opcoes__single p{
    font-size: 14px;
}

.icons{
    width: 37%;
}

.mt-custom{
    margin-top:41px;
}
.mt-custom-lg{
    margin-top: 46px;
}

/*Fim dos estilos para a sessão de opcoes*/

.title-teal{
    color:#13BEBA;
    font-weight: 500;
    font-size:16px;
    margin-left: 5px;
}

.custom-border{
    border-bottom: 2px solid #13BEBA;
    max-width:161px;
}

.small-text{
    font-size: 14px;
}

.left-card{
    position: relative;
    top: -314px;
}

section.indicacoes{
    height:695px;
}

span.label-span{
    font-size:10px;
    color:#13BEBA;
    padding: 2px 16px;
    border: 1px solid #13BEBA;
    border-radius: 100px;
    width: 100%;
    display: block;
    text-align: center;
}

.custom-input{
    padding: 8px 12px;
    border: 1px solid #D9D9D9;
    color:#8C8C8C;
    font-size: 16px;
    display: block;
    width: 100%;
    border-radius: 10px;
}
.custom-input:focus{
    outline-color:#D9D9D9 ;
}

.input{
    padding: 8px 12px;
    border: 1px solid #D9D9D9;
    color:#8C8C8C;
    font-size: 16px;
    border-radius: 10px;
    max-width:170px !important;
}

.add-contact{
    max-width: 307px;
}

.input:focus{
    outline-color:#D9D9D9 ;
}

.close-line{
    cursor: pointer;
    margin-top: 43px;
}

.add-btn{
    padding: 8px;
    background-color: white;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.016);
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.85);
    font-size: 16px;
    display: block;
    width: 100%;
    cursor: pointer;
    transition: 0.1s ease-in-out;
}

.add-btn:hover{
    filter: brightness(95%);
}

.submit-btn .enviar:hover{
    filter: brightness(95%);
}

.submit-btn .limpar:hover{
    filter: brightness(95%);
}

.submit-btn .enviar{
    background:#722ED1;
    border:1px solid #722ED1;
    padding: 8px;
    max-width:128px;
    display: block;
    width: 100%;
    border-radius:5px;
    transition: 0.1s ease-in-out;
}

.submit-btn .limpar{
    background:white;
    border: 1px solid #D9D9D9;
    padding: 8px;
    max-width:128px;
    display: block;
    width: 100%;
    border-radius:5px;
    height:43px;
    margin-top: 18px;
    transition: 0.1s ease-in-out;
}

/*Estilos para o footer do site*/

footer{
    margin-top: 108px;
    background: #fdfdfd;
    padding: 30px 0;
}

footer .social-icons img{
    margin:24px 5px;
}

footer ul li{
    list-style-type: none;
    margin: 12px 0;
}

footer ul li a{
    color:#595959;
    font-weight: 400;
    text-decoration: none;
}

footer .icon-wrapper span{
    color:#595959;
    margin: 0 5px;
}

footer .direitos p{
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    color: #595959;
}

footer .direitos a{
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    color: #595959;
    text-decoration: none;
}

.card__indicacao{
    border: 1px solid rgba(0, 0, 0, 0.06);
    box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.11);
    border-radius: 12px;
    max-width:320px;
    width: 100%;
    margin-top: 20px;
}

.card__container{
    padding:20px;
}

.card__preco{
    color: #13BEBA;
    font-size: 10px;
    font-weight: 500;
    text-align: center;
    border: 1px solid #13BEBA;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.016);
    border-radius: 100px;
    padding: 6px 16px;
    margin: 10px 0;
    display: block;
    max-width:92px;
}

.card__title h6{
    color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
    font-weight:bold;
    margin-top: 8px;
}

.card__container p{
    color: rgba(0, 0, 0, 0.85);
    font-size:12px;
}

.card__status{
    border-top: 1px solid #E9E9E9;
    padding:11px 0;
    text-align: center;
    color: rgba(0, 0, 0, 0.85);
}


/*media queries*/
@media screen and (max-width: 1165px){
    header img:nth-child(1){
        display: none;
    }
    header img:nth-child(3){
        display: none;
    }

}

@media screen and (max-width: 1199px){
    .hamburger-wrapper{
        display: block;
    }

    nav .ajuda{
        display: none !important;
    }

    nav .links{
        display: none;
    }

    nav .mobile{
        width: 100%;
        display: flex;
        justify-content: start !important;
        align-items: center;
    }
       
    .side-form-up{
        position: relative;
        top:-200px;
        align-items: center !important;
    }

    .left-card{
        position: static;
        margin: 0 auto;
    }


}



@media screen and (max-width: 768px){
    .input-wrapper{
        border-bottom: 1px solid #722ED1;
        border-right: 0 !important;
    }
    .input-wrapper:last-child{
        border-bottom: 0 !important;
        border-right: 0 !important;
    }

    footer .img-logo-footer{
        margin-bottom: 57px;
    }

    footer .direitos a:nth-child(1){
        text-align: center;
        margin-top: 20px;
        display: block;
    }
    footer .direitos a:nth-child(2){
        text-align: center;
        margin: 10px 0 20px 0;
        display: block;
    }
    footer .direitos p{
        max-width: 300px;
        margin: 0 auto;
    }

    .box-cards{
        display: none;
    }

    section.pra-alugar .box-cards article{
        width: 100%;
        margin: 0 0;
    }

    section.pra-alugar .swiper{
        display: block;
        height:550px;
    }

    section.pra-alugar .swiper-slide{
        display: block;
        height: 520px;
    }

    .swiper-button-next, .swiper-rtl .swiper-button-prev{
        width: 30px !important;
        height: 30px !important;   
    }
    .swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
        font-size: 14px !important;
    }
    .swiper-button-next::after{
        font-size: 14px !important;
    }
    .swiper-button-prev, .swiper-rtl .swiper-button-next{
        width: 30px !important;
        height: 30px !important;
    }
    header.slides-produto img{
        object-fit: cover;
        width: 100%;
    }

    header.slides-produto .swiper-slide{
        max-width: 100% !important;
    }
    .swiper-slide .swiper-slide-active{
        width: 100% !important;
    }
    
    section.conteudo .disponibilidade{
        margin-right: 0 !important;
        margin-left: 5px !important;
    }
    section.descricao-ap > .container{
        padding: 0 2%;
    }


    .logo{
        order:2;
    }
    header h1{
        text-align: left !important;
    }
    
    section.sobre{
        height:auto;
        background: #e5e5e5;
    }

    section.sobre .celular{
        background: linear-gradient(85.72deg, #13BEBA 25.42%, #02DBB6 100%);
        height:322px;
    }
    .text-mobile{
        display: block;
    }
    .text{
        display: none;
    }


    .mobile-mt{
        margin-top: 20px;
    }

    .depoimentos__img{
        text-align: center;
    }

    .depoimentos__text .color-title{
        font-size: 16px
    }

    .depoimentos__users{
       justify-content:center;
    }

    .center-mobile{
        text-align: center;
    }
    .logo-mobile{
        max-width: 68px;
        margin-top: 5px;
    }
    section.depoimentos{
        position: relative;
        top: -130px;
    }
    section.opcoes{
        position: relative;
        top: -110px;
    }
    footer{
        margin-top: 0;
    }
    .slide{
        height:250px;
    }
    .active-slide2,.active-slide3{
        transform: translateX(0%) !important;
    }
    .slide-single{
        left: 0;
        right: 0;
    }
    .order-xl-0{
        position: relative;
        top:-150px;
    }
    .side-form-up{
        position: relative;
        top:-200px;
        align-items: center !important;
    }
    .input{
        max-width:130px !important;
    }
    section.indicacoes{
        margin-top: 30px;
        height:auto;
    }

}

