*{
    font-family: 'Roboto', sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
    background: #E5E5E5;
    height:100%;
}

.swiper-container{
    overflow-x: hidden;
}

.hamburger-wrapper{
    display: none;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after{
    background-color:#13C2C2 !important;
}

/*Estilos para o nav do site*/
nav{
    padding: 23px 0;
    background:white;
}

nav .wrapper-input{
    position: relative;
}
nav .wrapper-input > img{
    position: absolute;
    top:8px;
    left:8px;
}

nav .wrapper-input input[type="search"]{
    background: #FAFAFA;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 6px;
    max-width: 186px;
    color: #BFBFBF;
    font-size:13px;
    padding: 5px 25px;
}
nav .wrapper-input input[type="search"]:focus{
    outline: none;
}

nav .logo{
    max-width: 106px;
    height: 39px;
}

nav ul{
    padding-top: 10px;
}
nav ul li{
    list-style-type: none;
    margin: 0 5px;
}
nav ul li a{
    text-decoration: none;
    font-size: 12px;
    font-weight: 400;
    margin-right:5px;
    color:black;
}

nav .ajuda a{
    text-decoration: none;
    color:#737373;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    margin-right:10px;
}

nav .ajuda span{
    color:#737373;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    margin-left:10px;
    cursor: pointer;
}

/*estilos para a sessão de minha conta*/

section.minha-conta{
    margin: 50px 0 200px 0;
}

section.minha-conta form label{
    margin: 15px 0 0 0;
    color: #000000D9;
}

section.minha-conta form input[type="text"],input[type="email"]{
    max-width:370px;
    height:40px;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 10px;
    color:#8C8C8C;
    padding: 8px 12px;
}

section.minha-conta form.conta{
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 380px;
}

section.minha-conta form.conta > .wrapper{
    width: 100%;
}

section.minha-conta form input[type="text"],input[type="email"]:focus{
    outline:#D9D9D9;
}

section.btn-filtrar button{
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.016);
    border-radius: 5px;
    padding: 14px 42px;
    color: rgba(0, 0, 0, 0.85);
    max-width:380px;
    width: 100%;
}


section.btn-filtrar input[type="submit"]{
    background: #13BEBA;
    border:0;
    box-sizing: border-box;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
    border-radius: 5px;
    padding: 14px 19px;
    color:white;
    max-width:380px;
    width: 100%;
    margin-bottom: 20px;
}


/*fim dos estilos para a modal de proposta*/


/*Estilos para o footer do site*/

footer{
    margin-top: 108px;
    background: #FFFFFF;
    padding:30px 0;
}

footer .social-icons img{
    margin:24px 5px;
}

footer ul li{
    list-style-type: none;
    margin: 12px 0;
}

footer ul li a{
    color:#595959;
    font-weight: 400;
    text-decoration: none;
}

footer .icon-wrapper span{
    color:#595959;
    margin: 0 5px;
}

footer .direitos p{
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    color: #595959;
}

footer .direitos a{
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    color: #595959;
    text-decoration: none;
}


/*Fim dos estilos para a sessão de cards*/

/*media queries*/
@media screen and (max-width: 995px){
    .hamburger-wrapper{
        display: block;
    }

    nav .ajuda{
        display: none !important;
    }

    nav .links{
        display: none;
    }

    nav .mobile{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

}

@media screen and (max-width: 768px){
    .input-wrapper{
        border-bottom: 1px solid #722ED1;
        border-right: 0 !important;
    }
    .input-wrapper:last-child{
        border-bottom: 0 !important;
        border-right: 0 !important;
    }

    footer .img-logo-footer{
        margin-bottom: 57px;
    }

    footer .direitos a:nth-child(1){
        text-align: center;
        margin-top: 20px;
        display: block;
    }
    footer .direitos a:nth-child(2){
        text-align: center;
        margin: 10px 0 20px 0;
        display: block;
    }
    footer .direitos p{
        max-width: 300px;
        margin: 0 auto;
    }

    .box-cards{
        display: none;
    }

    section.pra-alugar .box-cards article{
        width: 100%;
        margin: 0 0;
    }

    section.pra-alugar .swiper{
        display: block;
    }

    section.pra-alugar .swiper-slide{
        display: block;
        height: 650px;
        max-width:100%;
    }

    .swiper-button-next, .swiper-rtl .swiper-button-prev{
        width: 30px !important;
        height: 30px !important;   
    }
    .swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
        font-size: 14px !important;
    }
    .swiper-button-next::after{
        font-size: 14px !important;
    }
    .swiper-button-prev, .swiper-rtl .swiper-button-next{
        width: 30px !important;
        height: 30px !important;
    }
    header.slides-produto img{
        object-fit: cover;
        width: 100%;
    }

    header.slides-produto .swiper-slide{
        max-width: 100% !important;
    }
    .swiper-slide .swiper-slide-active{
        width: 100% !important;
    }
    section.side-form,section.descricao-ap > .container,section.icones-descricao > .container,section.conteudo{
        margin:0 auto;
        box-shadow: none;
    }
    section.side-form .favoritar-wrapper button {
    padding:5px;
    }
    section.descricao-ap label{
        padding:5px;
    }
    section.side-form{
        position:static;
        right: 0;
        top:0;
        margin-top: 25px;
    }
    section.side-form > .container{
        padding: 0;
    }
    section.conteudo .disponibilidade{
        margin-right: 0 !important;
        margin-left: 5px !important;
    }
    section.descricao-ap > .container{
        padding: 0 2%;
    }
    .form-check{
        padding-left: 0 !important;
    }
    section.modal-proposta .card-proposta{
        display:flex;
        align-items:center;
        justify-content: center;
        padding: 0;
    }

    section.modal-proposta .card-proposta p{
        font-size: 12px;
    }
    
    section.modal-proposta .card-proposta h6{
        font-size: 16px;
    }
    
    section.modal-proposta .card-proposta img{
        max-width:130px;
    }

    section.btn-filtrar button{ 
        padding: 14px 33px;
    }
    
    
    section.btn-filtrar input[type="submit"]{
        padding: 14px 7px;
    }
}