.alugar{
    display:none;
}

.comprar{
    display: none;
}

.active{
    opacity: 1 !important;
    z-index: 9999999 !important;
    display: block;
}

#close{
    cursor: pointer;
}

#modal{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-color:white;
    transition: 0.1s ease-in-out;
    opacity: 0;
}



nav.modal-filtros{
    background: #722ED1;
    border-radius: 10px 10px 0px 0px;
    color:white;
}

nav.modal-filtros input[type="radio"]{
    display: none;
}

nav.modal-filtros label{
    font-size:20px;
    padding: 10px 20px;    
    cursor: pointer;
}

nav.modal-filtros input[type="radio"]:checked+label{
    border-bottom: 2px solid white;
}

section.opcoes h6{
    font-weight: 700;
}

section.opcoes .btn-wrapper label{
    color: #13BEBA;
    padding: 8px 16px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.016);
    border-radius: 100px;
    cursor: pointer;
    margin: 0 10px;
}

input[type="radio"]{
    display: none;
}

section.opcoes .btn-wrapper input[type="radio"]:checked+label{
    background: #13BEBA;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.016);
    border-radius: 100px;
    color:white;
}

.form-check{
    padding-left: 0 !important;
}

.line{
    width: 100%;
    height: 1px;
    background: #D9D9D9;
    margin: 20px 0;
}

.options-single label{
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.016);
    border-radius: 100px;
    color: #13BEBA;
    font-size: 16px;
    cursor: pointer;
    padding: 8px 10.5px;
    margin: 0 5px;
}

section.options .options-single input[type="radio"]:checked+label{
    background: #13BEBA;
    color: white;
}

section.switch .switch-container{
    max-width: 550px;
    margin-left: 40px;
}

section.switch label{
    color:black;
    margin: 0 8px;
}

.form-check-input:checked{
    background-color: #722ED1 !important;
}

section.disponilidade label{
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.016);
    border-radius: 100px;
    color: #13BEBA;
    font-size: 16px;
    cursor: pointer;
    padding: 8px 10.5px;
    margin: 0 5px;
}

section.disponilidade .numeros label{
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.016);
    border-radius: 100%;
    color: #13BEBA;
    font-size: 16px;
    cursor: pointer;
    padding: 8px 10.5px;
    margin: 0 5px;
}

section.disponilidade input[type="radio"]:checked+label{
    background: #13BEBA;
    color: white;
}

section.btn-filtrar input[type="reset"]{
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.016);
    border-radius: 5px;
    padding: 14px 32px;
}

section.btn-filtrar input[type="submit"]{
    background: #722ED1;
    border: 1px solid #722ED1;
    box-sizing: border-box;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
    border-radius: 5px;
    padding: 14px 32px;
    color:white;
}

section.valor-filtro input[type="text"].preco-min{
    position: relative;
}

section.valor-filtro input[type="text"].preco-min:after{
    content: "R$";
    position: absolute;
    top:5px;
    left:5px;
    color:#8C8C8C;
    font-size: 16px;
}

@media screen and (max-width: 768px){
    section.disponilidade label{
        padding: 8px 10px;
        font-size: 14px;
    }

    section.switch label {
        margin: 0 -11px 0px 6px;
    }
    nav.modal-filtros label{
        font-size: 18px;
    }

    section.options h5{
        font-size: 16px;
    }
    .options-single label{
        font-size: 14px;
    }

    section.valor-filtro label{
        font-size: 12px;
    }
}