*{
    font-family: 'Roboto', sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
    background: #E5E5E5;
    scroll-behavior: smooth;
}

/*estilos para o menu-mobile*/
.menu-mobile{
    position:absolute;
    top:0;
    left:0;
    background-color:white;
    border-radius:0 10px 10px 0;
    height:100%;
    width:70%;
    z-index: 99999999;
    transform: translateX(-200%);
    transition: 0.1s ease-in-out;
    overflow-y: scroll;
    padding: 30px;
}

.menu-mobile .btn-wrapper a{
    text-decoration:none;
    color:white;
    background: #13BEBA;
    border-radius: 5px;
    padding: 5px 20px;
    transition: 0.1 ease-in-out;
}

.menu-mobile .btn-wrapper a:hover{
    filter: brightness(90%);
}

.bg{
    width: 100vw;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99999;
    display:none;
}
.menu-mobile .wrapper a{
    color:#434343;
    text-decoration: none;
    font-size: 14px;
    margin: 10px 5px;
}

.menu-mobile .wrapper .sub-menu{
    box-shadow: none !important;
    left:0 !important;
    width: 100% !important;
}
.menu-mobile .wrapper .sub-menu > .line{
   margin: 5px 0 !important;
}


.menu-mobile .wrapper:hover > .sub-menu{
    opacity: 1;
    z-index: 999999;
    top:30px;
    width: 152%;
    padding: 10px;
    left: -33px;
}


.menu-mobile img{
    max-width:150px;
}

.menu-mobile p{
    font-size: 12px;
}

.menu-active{
    transform: translateX(0) !important;
}

.menu-mobile .wrapper-input{
    position: relative;
    margin:20px 0;
}

.menu-mobile .wrapper-input input[type="search"]{
    padding:8px 20px;
    font-size: 12px;
    background: #FAFAFA;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 6px;
}

.menu-mobile .wrapper-input > img{
    position: absolute;
    top: 13px;
    left: 5px;  
}
/*fim dos estilos para o menu-mobile*/


/*estilos para o submenu de usuário*/
.user{
    position: relative;
    }
    
    .user:hover > div.sub-menu{
        z-index: 999999;
        opacity:1;
    }
    
    div.sub-menu{
        position: absolute;
        top: 25px;
        right: 0;
        z-index: -1;
        background: #FFFFFF;
        box-shadow: 0px 3px 6px -4px rgba(0, 0, 0, 0.12), 0px 6px 16px rgba(0, 0, 0, 0.08), 0px 9px 28px 8px rgba(0, 0, 0, 0.05);
        border-radius: 10px;
        padding: 30px;
        width: 250%;
        opacity: 0;
        transition: 0.2s ease-in-out;
    }
    
    .sub-menu a{
        color:#434343;
        text-decoration: none;
        font-size: 14px;
        margin: 10px 5px;
    }
    
    .line{
        width: 100%;
        height:1px;
        background-color:#D9D9D9;
    }
    
/*estilo de submenu da nav principal*/
.reference{
    position: relative;
}

div.sub-menu-nav{
    background: #FFFFFF;
    box-shadow: 0px 3px 6px -4px rgba(0, 0, 0, 0.12), 0px 6px 16px rgba(0, 0, 0, 0.08), 0px 9px 28px 8px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    position:absolute;
    top:30px;
    z-index:-1;
    padding: 30px;
    width: 255%;
    opacity: 0;
    transition: 0.2s ease-in-out;
}

.reference:hover > div.sub-menu-nav{
    opacity:1 !important;
    z-index: 99999 !important;
}

div.sub-menu-nav a{
    text-decoration: none;
    color:#434343;
    padding: 10px 0;
}

.line-menu{
    width: 100%;
    height:1px;
    background-color:#D9D9D9;
    margin: 10px 0;
}

/*fim dos estilos de submenu da nav principal*/

.swiper-container{
    overflow-x: hidden;
}

.hamburger-wrapper{
    display: none;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after{
    background-color:#13C2C2 !important;
}

/*Estilos para o nav do site*/
nav{
    padding: 12px 0;
    background-color: white;
}

nav .wrapper-input{
    position: relative;
}
nav .wrapper-input > img{
    position: absolute;
    top:8px;
    left:8px;
}

nav .wrapper-input input[type="search"]{
    background: #FAFAFA;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 6px;
    max-width: 186px;
    color: #BFBFBF;
    font-size:13px;
    padding: 5px 25px;
}
nav .wrapper-input input[type="search"]:focus{
    outline: none;
}

nav .logo > img{
    max-width: 90px;
    height: 50px;
    object-fit: contain;
}

nav ul{
    padding-top: 10px;
}
nav ul li{
    list-style-type: none;
    margin: 0 5px;
}
nav ul li a{
    text-decoration: none;
    font-size: 12px;
    font-weight: 400;
    margin-right:5px;
    color:black;
}

nav ul li a:hover{
    color:black;
}

nav .ajuda a{
    text-decoration: none;
    color:#737373;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    margin-right:10px;
}

nav .ajuda span{
    color:#737373;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    margin-left:10px;
    cursor: pointer;
}

/*estilos para o submenu de usuário*/
.user{
    position: relative;
    }
    
    .user:hover > div.sub-menu{
        z-index: 999999;
        opacity:1;
    }
    
    div.sub-menu{
        position: absolute;
        top: 25px;
        right: 0;
        z-index: -1;
        background: #FFFFFF;
        box-shadow: 0px 3px 6px -4px rgba(0, 0, 0, 0.12), 0px 6px 16px rgba(0, 0, 0, 0.08), 0px 9px 28px 8px rgba(0, 0, 0, 0.05);
        border-radius: 10px;
        padding: 30px;
        width: 250%;
        opacity: 0;
        transition: 0.2s ease-in-out;
    }
    
    .sub-menu a{
        color:#434343;
        text-decoration: none;
        font-size: 14px;
        margin: 10px 5px;
    }
    
    .line{
        width: 100%;
        height:1px;
        background-color:#D9D9D9;
    }

/*estilo para a nav*/


/*estios para o header do site*/
header{
    background:url(../images/parceiros-bg.jpg);
    background-size: cover;
    background-position:center;
    height:70vh;
    width: 100%;
    overflow: hidden;
}

header .container{
    height:100%;
    position: relative;
}

header img{
    position:absolute;
    right: 0;
}

.header__cta{
    max-width:510px;
    z-index: 99;
}

.header__cta h1{
    font-weight: 500;
    font-size: 38px;
    text-align: right;
}

.header__cta p{
    font-size: 20px;
    text-align: right;
}

.header__cta a{
    padding: 18px;
    display:block;
    max-width:259px;
    width: 100%;
    background: #722ED1;
    color:white;
    font-size:16px;
    margin-top: 20px;
    text-decoration: none;
    text-align:center;
    box-shadow: 0px 2px 0px 0px #0000000B;
    border-radius: 5px;
    transition: 0.1s ease-in-out;
}

.header__cta a:hover{
    filter: brightness(90%);
}


.swiper{
    height:500px;
}

.title__diferenciais h2{
    font-weight: 500;
    font-size: 30px;
}
.title__diferenciais h2 > b{
    color:#722ED1;
}

section.diferenciais .cards{
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.06);
    box-sizing: border-box;
    box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.11);
    border-radius: 12px;
    padding: 30px 25px;
    height: 334px;
}


.swiper-slide{
    border-radius: 12px;
    max-width:300px;
    padding-left: 0 !important;
    padding-right: 0 !important;
    height: 468px;
    margin-top: 26px;
    width: 100%;
}

section.diferenciais .cards h4{
   color:#525252;
   font-weight: 500;
   text-align: center;
   margin-top: 32px;
}
section.diferenciais .cards p{
    color:#434343;
    font-size: 14px;
}


section.cta{
    background: linear-gradient(85.72deg, #13BEBA 25.42%, #02DBB6 100%);
    height: 385px;
}

section.cta > .container{
    max-width:850px;
}

section.cta .cta__img img{
    position: relative;
    top: -100px;
    max-width: 485px;
    height: 485px;
    width: 100%;
    object-fit: cover;
}

section.cta .cta__content{
    z-index: 99;
    position: relative;
}

section.cta .cta__content h3{
    font-weight: 500;
    font-size: 38px;
    color:white;
}
section.cta .cta__content a{
    padding: 18px;
    display:block;
    max-width:259px;
    width: 100%;
    background: #722ED1;
    color:white;
    font-size:16px;
    margin-top: 20px;
    text-decoration: none;
    text-align:center;
    box-shadow: 0px 2px 0px 0px #0000000B;
    border-radius: 5px;
    transition: 0.1s ease-in-out;
}

.card__single{
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.06);
    box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.11);
    border-radius: 12px;
    padding: 20px;
}

.card__icon{
    max-width:63px;
    height:63px;
    background:#722ED1;
    border-radius: 50%;
    width: 100%;
}

.card__content h6{
    font-weight: 500;
    font-size: 20px;
}
.card__content p{
    font-size: 12px;
    color: #434343;
}


section.ajuda{
    background: linear-gradient(85.72deg, #722ED1 25.42%, #8D43F3 100%);
    color:white;
}

.ajuda__content{
    padding: 50px;

}

.ajuda__content h2{
    font-weight: 500;
    font-size: 36px;
    text-align: right;
}

.ajuda__content a{
    padding: 18px;
    max-width:259px;
    width: 100%;
    background:#13BEBA;
    color:white;
    text-decoration: none;
    text-align: center;
    display:block;
    border-radius:5px;
    margin-top: 23px;
}

.ajuda__mobile{
    display:none;
}

.info__content{
    padding:40px 0;
}

.info__content h2{
    font-size: 30px;
    font-weight:500;
    max-width:430px;
    margin: 0 auto;
    text-align: right;
}
.info__content p{
    font-size: 16px;
    max-width:430px;
    margin: 10px auto;
    text-align: right;
}


.info:nth-child(2n+1){
    background:white;
}

.info:nth-child(2n){
    background: #F5F6FA;
}

section.sobre{
    background: linear-gradient(85.72deg, #13BEBA 25.42%, #02DBB6 100%);
    mix-blend-mode: normal;
    color: #F5F6FA;
    margin-bottom: 150px;
}

section.sobre h2{
    font-size: 30px;
    font-weight: 500;
    max-width:443px;
    text-align: right;
    padding-top: 62px;
}

section.sobre p{
    max-width:440px;
    font-size: 16px;
    text-align: right;
    margin-top: 31px;
    margin: 0 auto;
}

.sub-menu-mobile{
    position: absolute;
    top: 30px;
    left: -15px;
    z-index: -1;
    background: #FFFFFF;
    box-shadow: 0px 3px 6px -4px rgba(0, 0, 0, 0.12), 0px 6px 16px rgba(0, 0, 0, 0.08), 0px 9px 28px 8px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 30px;
    width: 250%;
    max-width: 259px;
    opacity: 0;
    transition: 0.2s ease-in-out;
}


.reference:hover > .sub-menu-mobile{
    z-index: 9999 !important;
    opacity: 1 !important;
}


section.vantagens h2{
    font-weight: 500;
    font-size: 30px;
    margin: 100px 0 50px 0;
    text-align: center;
}
section.vantagens .swiper-slide{
    height:max-content;
}

section.vantagens .swiper-slide h6{
    font-size: 18px;
    font-weight: 500;
    color:#525252;
    text-align: center;
}


section.parcerias{
    background-color:white;
    padding: 50px 0;
}


section.parcerias h2{
    padding-top:30px;
    font-weight: 500;
    font-size: 30px;
    text-align: center;
}
section.parcerias p{
    padding-top:80px;
    font-size: 16px;
    text-align: center;
}

.parcerias__card{
    background: linear-gradient(180deg, #13BEBA 0%, #1395BE 100%);
    mix-blend-mode: normal;
    border-radius: 32.9083px;
    transform: rotate(-6.27deg);
    max-width:330px;
    width: 100%;
    height:308px;
    padding: 30px;
    margin: 50px 0  ;
}
.aramis{
    background: linear-gradient(180deg, #FC1757 0%, #C70038 100%) !important;
}
.phortos{
    background: linear-gradient(180deg, #722ED1 0%, #892ED1 100%) !important;
}
.parcerias__card h4{
    font-weight: 500;
    font-size:19px;
    color:white;
    margin-top:10px;
}
.parcerias__card p{
    font-size:12px;
    color:white;
    padding:0 !important;
}

section.requisitos{
    padding:80px 0 200px 0;
}

section.requisitos h2{
    text-align:center;
    font-weight: 500;
    font-size: 30px;
}

section.requisitos p{
    color:#434343;
    font-weight: 500;
    font-size:16px;
    margin-top: 12px;
}

.requisitos__single{
    margin:0 auto;
    max-width:600px;
    padding: 0 2%;
}

.mySwiper{
    width: 90%;
}
/****************** estilos do formulário  ****************/

section.form{
    background: #722ED1;
    height:414px;
}

section.form form{
    background: #FFFFFF;
    box-shadow: 0px 3px 6px -4px rgba(0, 0, 0, 0.12), 0px 6px 16px rgba(0, 0, 0, 0.08), 0px 9px 28px 8px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding:40px;
    position: relative;
    top: -100px;
}

.form .row label{
    margin-top: 20px;
}
.form-check{
    padding: 0;
}
.form__input{
    padding: 8px 12px;
    display: block;
    width: 100%;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
}

.form__input:focus{
    outline-color: #D9D9D9;
}

.form__input:placeholder{
    color:#8C8C8C;
}
section.form p{
    color: rgba(0, 0, 0, 0.85);
    margin:20px 0;
}

.form__tipo{
    border: 1px solid #722ED1;
    border-radius: 14px;
    padding: 10px;
    width: 100%;
}

.form__tipo label{
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.form-check-input:checked ~ label{
    background: #13BEBA;
    color:white;
}

section.form button{
    color:white;
    background:#13BEBA;
    padding: 8px;
    max-width:343px;
    width: 100%;
    display: block;
    border:0;
    text-align:center;
    border-radius: 5px;
    margin: 20px 0;
    transition: 0.1s ease-in-out;
}
section.form button:hover{
    filter: brightness(95%)
}
/*Estilos para o footer do site*/

footer{
    margin-top: 108px;
    background: #E5E5E5;
    padding: 30px 0;
}

footer h4{
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    color:#525252;
    margin-bottom: 20px;
}

footer p{
    max-width:450px;
}

footer .social-icons img{
    margin:24px 5px;
}

footer ul li{
    list-style-type: none;
    margin: 12px 0;
}

footer ul li a{
    color:#595959;
    font-weight: 400;
    text-decoration: none;
}

footer span{
    color:#595959;
    margin: 0 5px; 
}

footer .wrapper{
    margin: 63px 0;
}

footer .direitos p{
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    color: #595959;
}

footer .direitos a{
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    color: #595959;
    text-decoration: none;
}

.mobile{
    display:none;
}
/*Fim dos estilos para a sessão de cards*/

/*media queries*/
@media screen and (max-width: 1165px){
    header img:nth-child(1){
        display: none;
    }
    header img:nth-child(3){
        display: none;
    }

}

@media screen and (max-width: 1199px){
    .hamburger-wrapper{
        display: block;
    }

    nav .ajuda{
        display: none !important;
    }
    header img{
        display: none !important;
    }
    nav .links{
        display: none;
    }

    nav .mobile{
        width: 100%;
        display: flex;
        justify-content: start !important;
        align-items: center;
    }
    .header__cta h1, .header__cta p{
        text-align: left;
    }

}

@media screen and (max-width: 769px){
    .input-wrapper{
        border-bottom: 1px solid #722ED1;
        border-right: 0 !important;
    }
    .input-wrapper:last-child{
        border-bottom: 0 !important;
        border-right: 0 !important;
    }

    footer .img-logo-footer{
        margin-bottom: 57px;
    }

    footer .direitos{
        padding: 0 30px;
    }

    footer .direitos a:nth-child(1){
        text-align: left;
        margin-top: 20px;
        display: block;
    }
    footer .direitos a:nth-child(2){
        text-align: left;
        margin: 10px 0 20px 0;
        display: block;
    }
    footer .direitos p{
        margin: 0 auto;
    }

    footer .social-icons{
        width: 100% !important;
    }


   .sobre__content h2, .sobre__content p{
       text-align: center !important;
   }
    
    section.sobre{
        height:auto;
        background: linear-gradient(85.72deg, #13BEBA 25.42%, #02DBB6 100%);
    }

    .identidade{
        padding:  0 30px;
    }

    footer .wrapper{
        padding: 0 30px;
    }
    footer .wrapper span{
        padding: 30px 0;
    }

    .ajuda__content a, .ajuda__img{
        display: none !important;
    }

    .ajuda__mobile{
        background: #FFFFFF;
        box-shadow: 0px 2.09904px 4.19808px -2.79872px rgba(0, 0, 0, 0.12), 0px 4.19808px 11.1949px rgba(0, 0, 0, 0.08), 0px 6.29712px 19.5911px 5.59744px rgba(0, 0, 0, 0.05);
        border-radius: 6.99681px;
        padding: 20px;
        margin: 0 auto;
    }

    .ajuda__mobile h6{
        color:black;
    }
    .ajuda__mobile p{
        color:#7D7D7D;
        font-size:12px;
    }
    .ajuda__cta span{
        color:#7D7D7D;
        font-size:12px;
        font-weight: 500;
    }
    .ajuda__cta a{
        color:white;
        font-size:12px;
        background-color:#13BEBA;
        padding: 5px 0;
        display: block !important;
        max-width:160px;
        width: 100%;
        border-radius: 3.4984px;
        text-align:center;
        margin: 0;
    }
    .ajuda__content{
        padding:30px;
    }
    .ajuda__content h2{
        text-align:center;
        font-size:22px;
        margin:20px 0;
    }
    .ajuda__mobile{
        display:block;
    }
    section.form{
        height:auto;
    }
    section.form form{
        padding:20px;
    }
    .info__content h2, .info__content p{
        text-align:center;
    }
    section.cta{
        height: auto;
        padding:40px 0;
    }
    section.cta .cta__img img{
        position: relative;
        margin-top: 40px;
        top: 40px;
    }

    .desktop{
        display:none !important;
    }
    .mobile{
        display:block !important;
    }
    .ver-mais{
        padding:5px;
        display:block;
        width: 100%;
        border: 0;
        background: #FFFFFF;
        border: 1px solid #D9D9D9;
        box-sizing: border-box;
        box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.016);
        border-radius: 5px;
        margin: 40px 0;
    }
}

@media screen and (max-width: 411px){
    header{
        height:70vh;
        border-radius: 0px;
    }
}
